.nurse-info {
    border: 1px solid black;
    text-align: left;
    padding: 0;
    width: 20vw;
    margin: 10px;
}

.nurse-name {
    font-weight: bold;
    margin-bottom: 0;
}

.nurse-experience {
    margin-bottom: 0;
}

.deleteBtn {
    width: 30px;
    text-align: right!important;
    justify-content: right;
}

