.loginContainer {
    background-color: rgb(233, 233, 233);
    text-align: center;
    padding: 1%;
}

.homePage {
    text-align: center;
}

.nursifyLogo {
    font-size: 100px;
    background-color: rgb(145, 44, 240);
}